[submodule "External/saiga"]
	path = External/saiga
	url = git@github.com:darglein/saiga.git
[submodule "External/or-tools"]
	path = External/or-tools
	url = git@github.com:google/or-tools.git
[submodule "External/tensorboard_logger"]
	path = External/tensorboard_logger
	url = git@github.com:RustingSword/tensorboard_logger.git
